<head>
    <link rel="stylesheet" href="/public/css/sidebar.css" type="text/css">
</head>
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Apply Filter</h3>
        </div>
        <%- include('../partials/filterForm') -%>
    </nav>